services:
  - type: web
    name: wall-backend
    env: node
    plan: free
    buildCommand: npm ci --production
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: MONGODB_URI
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
